<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>YTParser</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/authorise">Authorisation</a>
        </li>
        <li>
            <a href="/viewCreators">View Creators</a>
        </li>
        <li>
            <a href="/latestLinks">View Latest Links</a>
        </li>
        <li>
            <a href="/keywords">Keyword Search</a>
        </li>
    </ul>
</nav>