body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px; 
    box-sizing: border-box;
    max-width: 100%;
}

.wrapper{
    max-width: 960px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    padding-top:50px;
}

.tableRowWidth{
    width: 50%;
}

.responsive{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#creatorsTableUI{
    background-color: lightslategray;
}

#divElement{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    background-color: blue;
    width: auto;
    height: auto;
}

.center {
    margin: auto;
    width: 10%;
    padding: 10px;
}

.column-list {
    columns: 100px;
}