{% extends "base.html" %}

{% block title %}YTParser{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<h1>Authorisation</h1>

<form>
    <div class="form-group row">
      <label for="authLinkBox" class="col-sm-2 col-form-label">Sign in please:</label>
      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" id="authLinkBox">
            <a href={{link}}>Log in with Google</a>
        </button>
      </div>
    </div>
</form>

<p>In order to use YouTube parser, you must first sign into your Google account!</p>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}