{% extends "base.html" %}

{% block title %}YTParser{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <h1>Keyword Search</h1>
        </div>
        <div class="col-auto">
            <div class="spinner-border" role="status" id='spinner'>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-auto">
            <button type="button" class="fa fa-download btn btn-primary" id="download_button" onclick="download(event)"></button>
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <p id="server_message"></p>
        </div>
    </div>
</div>



<ul class="column-list" id="keywords_list" style="columns: 100px;">
</ul>

<!-- <div class="container-fluid"> -->
<div class="container-fluid"> 
    <div class="row">
        <div class="col-8">
            <input class="form-control" id="keyword_input" placeholder="Enter a keyword">
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary" id="add_keyword" onclick="sendKeyword(event)">OK</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" id="search" onclick="sendSearch(event)">Search</button>
        </div>
    </div>
</div>

<!-- <div class="container-fluid"> -->
<div class="container-fluid">    
    <table class="table">
        <thead>
            <tr>
                <th scope="col" style="width: 10%">Sponsor</th>
                <th scope="col" style="width: 10%">Channel</th>
                <th scope="col" style="width: 10%">Date</th>
                <th scope="col" style="width: 10%">Views</th>
                <th scope="col" style="width: 60%">Link</th>
            </tr>
        </thead>
        <tbody id="tablecontents" class="tableRowWidth">
        </tbody>
    </table>

    <form>
        <div class="form-group row">
            <div class="col-6">
                <!-- <button type="button" class="btn btn-primary" id="prev" onclick="">back</button> -->
                <button type="button" class="btn btn-primary" id="prev" onclick="sendPrev(event)">back</button>
            </div>
            <div class="col-6">
                <!-- <button type="button" class="btn btn-primary float-right" id="next" onclick="">next</button> -->
                <button type="button" class="btn btn-primary float-right" id="next" onclick="sendNext(event)">next</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script charset="utf-8">
    var ws = new WebSocket("ws://localhost:80/keywords/ws");
    var spinner = document.getElementById("spinner"); 
    var table_body = document.getElementById("tablecontents");
    var keyword_list = document.getElementById("keywords_list");
    var keyword_input = document.getElementById("keyword_input");
    var server_message = document.getElementById("server_message");
    var download_button = document.getElementById("download_button");

    spinner.style.visibility = "hidden";
    download_button.style.visibility = "hidden";
    
    ws.onopen = function(event) {
        console.log("connection to server established");
    }

    ws.onclose = function() {
        console.log("websocket is closing");
    }

    ws.onmessage = function(event) {
        try{
            info = JSON.parse(event.data);
            if(info.hasOwnProperty('message') && info['show']){
                console.log("received: ", info['message']);
                server_message.textContent = info['message'];
            } else if(info.hasOwnProperty('message')){
                console.log("received: ", info['message'])
            } else if(info.hasOwnProperty('action')){
                if(info['action'] == 'clear'){
                    table_body.textContent = '';
                } else if(info['action'] == 'show_keywords'){
                    all_keywords = info['keywords']
                    keyword_list.textContent = '';
                    console.log("received: ", info)

                    for(i=0; i<all_keywords.length; i++){
                        var li = document.createElement("li");
                        li.appendChild(document.createTextNode(all_keywords[i]));
                        keyword_list.appendChild(li);
                    }
                }
            } else {
                //process data here
                spinner.style.visibility = "hidden";
                download_button.style.visibility = "visible";

                console.log("received: " + JSON.stringify(info))
                console.log("Parsed as JSON");

                keys = Object.keys(info);
                var new_row = table_body.insertRow();

                for(i=0; i<keys.length; i++){
                    var cell = new_row.insertCell();
                    var cell_val = document.createTextNode(info[keys[i]]);
                    cell.appendChild(cell_val);
                }
            }
        } catch(err){
            console.log("caught error ", err);
        }
    }

    function download(event) {
        base_url = window.location.href;
        new_url = base_url + "/downloads";
        window.open(new_url);
    }

    function sendNext(event) {
        ws.send(JSON.stringify({"action":"next"}))
        event.preventDefault();
    }

    function sendPrev(event) {
        ws.send(JSON.stringify({"action":"prev"}))
        event.preventDefault();
    }

    function sendKeyword(event) {
        new_keyword = document.getElementById('keyword_input').value;
        if(new_keyword.length > 0){
            ws.send(JSON.stringify({"action":"add_keyword","keyword":new_keyword}))
            document.getElementById('keyword_input').value = '';
            console.log("sent keyword: " + new_keyword);
            document.getElementById('search').style.visibility = "visible";
        } else {
            console.log('didnt send anything, as keyword is empty!');
        }
        event.preventDefault();
    }

    function sendSearch(event) {
        spinner.style.visibility = "visible";
        document.getElementById('search').style.visibility = "hidden";
        ws.send(JSON.stringify({"action":"search"}))
        event.preventDefault();
    }
</script>

{% endblock %}