{% extends "base.html" %}

{% block title %}YTParser{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <h1>Keyword Search</h1>
        </div>
        <div class="col-auto">
            <div class="spinner-border" role="status" id='spinner'>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<ul id="messages">
</ul>

<div class="container-fluid">
    <table class="table">
        <thead class="tableRowWidth">
            <tr>
                <th scope="col">Channel</th>
                <th scope="col">Video Info</th>
            </tr>
        </thead>
        <tbody id="tablecontents" class="tableRowWidth">
        </tbody>
    </table>

    <form>
        <div class="form-group row">
            <div class="col-6">
                <button type="button" class="btn btn-primary" id="prev" onclick="">back</button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-primary float-right" id="next" onclick="">next</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>

    function connect() {
        return new Promise(function(resolve,reject) {
            var ws = new WebSocket("ws://localhost:80/keywords/ws");
            ws.onopen = function() {
                resolve(ws);
            };
            ws.onerror = function(err){
                reject(err);
            };
        });
    }

    async function procesing() {
        try{
            let ws = await connect();
            console.log("connected!");

            await ws.send("ready!");
            console.log("ready");

            var table_body = document.getElementById("tablecontents");

            document.getElementById('prev').onclick = await function() {
                ws.send("prev");
                table_body.textContent = '';
            }

            document.getElementById('next').onclick = await function() {
                ws.send("next");
                table_body.textContent = '';
            }

            ws.onmessage = function(event){
                if(event.data.includes("message")){
                    var node = document.createElement("li");
                    var textNode = document.createTextNode(event.data);
                    node.appendChild(textNode);
                    //document.getElementById("messages").textContent = '';
                    document.getElementById("messages").appendChild(node);
                    return;
                }
                
                var spinner = document.getElementById("spinner").style.visibility = "hidden";
                console.log("got message");
                console.log("info: " + event.data);

                input_string = event.data;
                input_string = input_string.replaceAll('\'',"\"");
                videos = JSON.parse(input_string);
                console.log("JSON: ", videos);

                keys = Object.keys(videos);
                var new_row = table_body.insertRow();
                for(i=0; i<keys.length; i++){
                    var cell = new_row.insertCell();
                    var cell_val = document.createTextNode(videos[keys[i]]);

                    cell.appendChild(cell_val);

                    if(i%2==1){
                        new_row = table_body.insertRow();
                    }
                }

                // keys = Object.keys(videos);
                // for(i=0; i<keys.length; i++){
                //     key = keys[i];
                //     value = videos[key];

                //     var new_row = table_body.insertRow();
                //     var cell_channel_name = new_row.insertCell();
                //     var cell_video = new_row.insertCell();

                    
                //     var cell_channel_name_value = document.createTextNode(key);
                //     var cell_video_value = document.createTextNode(value);

                //     cell_channel_name.appendChild(cell_channel_name_value);
                //     cell_video.appendChild(cell_video_value);
                // }
            }

        } catch(error){
            console.log("ERROR: " + error);
        }
    }

    procesing();

</script>

{% endblock %}