{% extends "base.html" %}

{% block title %}YTParser{% endblock %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', path='/css/mystyle.css') }}">
{% endblock %}

{% block page_content %}

<h1>Viewing Creators</h1>
<p>Here you can view and manage the creators in the database.</p>

<table class="table">
    <thead>
        <tr class="tableRowWidth">
            <th scope="col">YouTube Channel</th>
            <th scope="col">Channel ID</th>
        </tr>
    </thead>
    <tbody id="tablecontents">
        {% for name,id in ytbrs %}
            <tr class="tableRowWidth">
                <td scope="col">{{ name }}</td>
                <td scope="col">{{ id }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<form>
    <div class="form-group row">
        <div class="col-6">
            <button type="button" class="btn btn-primary" id="prev" onclick="backFunction({{page}})">back</button>
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-primary float-right" id="next" onclick="nextFunction({{page}},{{num_creators}})">next</button>
        </div>
    </div>
</form>

<h2>{{message}}</h2>

{% endblock %}

{% block scripts %}
{{ super() }}



<script type="text/javascript">
    function nextFunction(page,num_creators){
        start = (page)*10 + 1;
        curr_max = start + 9;
        new_page = page + 1;

        if(curr_max < num_creators){
            base_url = window.location.href;
            if(base_url.includes("page=")){
                new_url = base_url.replace("page="+page,"page="+new_page);
            } else {
                new_url = base_url + "?page=" + new_page;
            }
            window.location.replace(new_url);
        } 
    }
    
    function backFunction(page){
        new_page = page - 1;
        if(page > 0){
            base_url = window.location.href;
            new_url = base_url.replace("page="+page,"page="+new_page);
            window.location.replace(new_url);
        }
    }
</script>
{% endblock %}